.App {
  margin: 0 10px;
}

.todo-title {
  color: black;
  margin: 0;
  padding: 5px 0;
}

.todo {
  font-family: "Courier New", Courier, monospace;
  padding: 10px;
}

/* <form className="add-todo-form">
        <input className="todo-input" type="text" placeholder="Add to do" />
        <input className="todo-add" type="button" value={"Add to-do"} />
      </form> */

.add-todo-form {
  width: 100%;
  max-width: 500px;
  align-items: center;
  display: flex;
}

input {
  background-color: transparent;
  outline: none;
  border: none;
}

.todo-input {
  border: 2px solid black;
  background-color: rgb(218, 213, 213);
  border-radius: 2px;
}
.todo-add {
  border: 2px solid black;
  background-color: rgb(86, 196, 86);
  border-radius: 2px;
  color: white;
}
.todo-add:hover {
  background-color: darkgreen;
}

.todos-container {
  background-color: lightgrey;
}
.check-box {
}
